.ipynb_checkpoints
*.sh
*.txt
*.nc
*/.ipynb_checkpoints/*
*.pkl
*.png
*.csv
*/pkls/*
*/OLD/*
*/__pycache__/*
OLD/*
MODPROC_ROBOT/PLOTS/
MO_RESULTS/PIC/
MO_pipeline/PICTURES/
PICTURES/
Tuning/datasets/
evalOutput/argo_processed/
